<h1>How is the cost determined for the house ?</h1>
<p>
The total price of a reservation on QuickRent is based on a few factors. Note that the price is charged in full once a host accepts your reservation request.
</p>
</br>
</br>
Costs determined by the host:
</br>
</br>

Nightly price: Nightly rate decided by the host
</br>
Cleaning fee: One-time fee charged by some hosts to cover the cost of cleaning their space
</br>
Extra guest fees: One-time fee charged by some hosts to cover other costs related to using their space
</br>
</br>
</br>

<p>
Note: Security deposits are only charged if the host needs to make a claim.</p>
</br>
</br>
<%= link_to 'Back to the Help page', help_path %>