%h1 FAQs (Frequently Asked Questions)

%p 
%h7 <br/> 
%strong Q1 Where can a person find the list of Houses? 
%h7 <br/> Ans- It is in 'House Listings' Link visible on the QuickRent Welcome Page

%p 
%h7 <br/> 
%strong Q2 What feature is provided under 'Messages' Link?  
%h7 <br/> Ans: User can create,edit and delete a new message.

%p 
%h7 <br/> 
%strong Q3 What is the 'Reviews' section defined for each House? 
%h7 <br/> Ans: The Reviews about any particular House can be seen,edited and deleted under this section". It provides flexibility to rate various houses and Add User comments about a house.


%p 
%h7 <br/> 
%strong Q4 How can a person contact the Website Team? 
%h7 <br/> Ans: Follow Details in 'Contact Us' Link

%p 
%h7 <br/> 
%strong Q5 What is the purpose of History page? 
%h7 <br/> Ans: It maintains a Log of Users who rented the houses in the past. It records Userid's along with the email-id.
    

<br><br>
= link_to 'Back to Welcome page', users_path