<h1> Welcome! How can we help you?</h1>
<h2> Suggested for you :</h2>
<br>

<%= link_to '1. How is the cost determined for the house ?', cost_path %>
</br>
</br>
<%= link_to '2. Why do I need to have QuickRent Profile ?', need_path %>
</br>
</br>
<%= link_to '3. How do I edit my profile ?', proedit_path %>
<br><br><br><br>
<%= link_to 'Back to Welcome page', users_path %>