<h1>Main street from 50 main street to 327 mains street</h1>
<p>
Near By useful places :
</p>
</br>
</br>
1.Grocery stores :
<p>
Price Chopper</p>
<p>
Doller Tree</p>
<p>
Biglots</p>
<p>
CVS Pharmacy</p>
</br>
</br>
<p>
Nirchi's Pizza</p>
<p>
MCDonalds</p>
<p>
Dunkin Donuts</p>
</br>
</br>
</br>
</br>
<%= link_to 'Back to the Places page', place_path %>