<h1> My Account </h1>

<%= link_to "Edit Profile", '/editprofile', :method => :get %>

<%= link_to "Privacy Setting", '/privacy', :method => :get %>

<%= link_to "My Reviews", '/review', :method => :get %>