
<h1> My Account </h1>


<%= link_to "Edit Profile", '/editprofile', :method => :get %>

<%= link_to "Privacy Setting", '/privacy', :method => :get %>

<%= link_to "My Reviews", '/myreview', :method => :get %>

<br><br>
<br>
<p><%= link_to 'Back to Welcome page', users_path %></p>