<h1>Why do I need to have QuickRent Profile ?</h1>
<p>
    Your profile is a great way for others to learn more about you before they book your space or host you. </p>
    <p>
    When your profile is robust, it helps others feel that you're reliable, authentic, and committed to the spirit of QuickRent.</p> 
    
</br>
</br>
<%= link_to 'Back to the Help page', help_path %>