<h1>Famous areas in Binghamton to live</h1>
</br>
</br>
<%= link_to 'Main street from 50 main street to 327 mains street', mainst_path %>
</br>
</br>
<%= link_to 'Chapin, walnut, Arthur, Cedar, Beethoven, Schubert, Bellevue, Gothe, Oak,Chestnut', chapin_path %>

</br>
</br>
<%= link_to 'Floral and streets around it', floral_path %>
<br><br><br><br>
<%= link_to 'Back to Welcome page', users_path %>