<h1>How do I edit my profile ?</h1>
<p>
    You can edit information that appears on your QuickRent profile, such as your main profile or email address.
</p>
</br>
To edit your profile information:
<p>
Go to the Edit Profile after successfully login.
</br>
</br></p>
The different sections of your profile include:
</br>
Edit Profile: Update the basics about where you live, including the phone number and email address.
<p>Click Submit at the bottom of the page to save your changes.</p>
</p> 
    
</br>
</br>
<%= link_to 'Back to the Help page', help_path %>