-# in app/views/houses/show.html.haml

%h2 Details about #{@house.title}

-#%p  Area = @house.rating
-#%p  Price = @house.price
-#%p  From date = @house.release_date
-#%p  To date = @house.todate
-#%p  Owner = @house.name
-#%p  Owner Email = @house.email
-#%p  Owner Contact Number = @house.contactnumber
-#%p  Description= @house.description

= link_to 'Edit', edit_house_path(@house)
= button_to 'Delete', house_path(@house), :method => :delete, :confirm => 'Are you sure?'
= link_to 'Back to house listings', houses_path