<h1> My Account </h1>

<p><%= link_to 'Edit Profile', edit_user_path(@user) %></p>

<p><%= link_to "Privacy Setting", '/privacy', :method => :get %></p>

<p><%= link_to "My Reviews", '/review', :method => :get %></p>

<br><br>
<br>
<p><%= link_to 'Back to Welcome page', users_path %></p>